<<<<<<< HEAD
body {
    text-align: center;
    background-color: #333;
}

canvas {
    background-color: #fff;
    margin-top: 3%;
    border: 5px solid #00B16A;
    -moz-box-shadow:    inset 0 0 20px #000;
    -webkit-box-shadow: inset 0 0 20px #000;
    box-shadow:         inset 0 0 20px #000;
=======
body {
    text-align: center;
    background-color: #333;
}

canvas {
    background-color: #fff;
    margin-top: 3%;
    border: 5px solid #00B16A;
    -moz-box-shadow:    inset 0 0 20px #000;
    -webkit-box-shadow: inset 0 0 20px #000;
    box-shadow:         inset 0 0 20px #000;
>>>>>>> origin/master
}